<h1><%= @game.name %></h1>
<br>

<div class="black_card ui toggle button"><%= @black_card.content %></div>

<h2>Leader of Round:</h2>
<h3><%= @leader.username %></h3>

<% if current_user.leader == true %>
<p>Refresh until you have cards for all players!</p>
  <%= form_tag game_round_results_path(@game, @round), method: "get" do%>
    <%= label_tag :card %>

      <% @choices.values.map{ |choice| Card.find(choice)}.each do |card| %>
        <div class="game_card">
            <div class="ui toggle inverted button radio">
              <div class="header content card">
                <%= card.content %>
              </div>
                <%= radio_button_tag :card_id, card.id %>
              </div>
          </div>
        <% end %>
      <%= submit_tag "Select Card" %>
    <% end %>
  </div>
<% else %>

  <div class="game_card ui toggle button">
    <% @choices.values.map{ |choice| Card.find(choice)}.map{|c| c.content}.each do |card| %>
    <div class="header content card">
      <%= card %>
    </div>
    <% end %>
  </div>
  <div class="ui button">
    <%= link_to "See Results!", game_round_results_path(@game, @round), method: "get" %>
  </div>

<% end %>
