<h1><%= @game.name %></h1>

<h3>Players:</h3>
<div class="players">
  <% @game.players.each do |player| %>
    <img class="ui avatar image" src="/assets/card_spade.png"><span> | <%= player.username %><br><br></span>
  <% end %>
</div>

<h3>Round:</h3>
<p><%= @game.rounds.index(@round)+1 %> of <%= @game.number_of_rounds %></p>
<br><br>
  <div class="ui button">
    <%= link_to "Start Round", game_round_path(@game, @round) %>
  </div>
