<% if flash[:errors] %>
  <div class="notice">
    <% flash[:errors].each do |ugh| %>
      <p><%= ugh %></p>
    <% end %>
  </div>
<% end %>
<div class="form">
  <%= form_for @game do |f|%>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :desired_group_size %>
  <br>
  <%= f.select :desired_group_size, ["small", "medium", "large"], {}, { :class => 'ui selection dropdown' } %>
  <br>
  <%= f.label :desired_number_of_rounds %>
  <br>
  <%= f.select :desired_number_of_rounds, ["short", "medium", "long"], {}, { :class => 'ui selection dropdown' }  %>
  <br>
  <%= f.submit %>
  <% end %>
</div>
