<h3>Game Name: </h3>
<div class="game-name"><h2><%= @game.name %></h2></div>

<h3>Players Already Joined:</h3>
<% @deals.each do |deal| %>
  <p>Username: <%= deal.player.username %></p>
<% end %>

<%= form_for @deal do |f|%>
<%= f.hidden_field :game_id, value: @game.id  %>
<%= f.hidden_field :player_id, value: @player.id %>
<% if @game.group_size %>
  <div class='ui button'><%= link_to "Start Game", new_game_round_path(@game), method: "get" %><br></div>
<% end %>

<div class="join-button">
  <br><%= f.submit "Join Game!", :class => "ui button" %>
</div>
<% end %>
<br>

<div class="delete-button">
  <%=button_to "Delete", @game, method: "delete", data: { confirm: "Are you sure?" }, :class => "ui button"%>
</div>
