<h3>Game Name: <%= @game.name %> </h3>

<h3>Players Already Joined:</h3>
<% @deals.each do |deal| %>
  <p>Username: <%= deal.player.username %></p>
<% end %>

<%= form_for @deal do |f|%>
<%= f.hidden_field :game_id, value: @game.id  %>
<%= f.hidden_field :player_id, value: @player.id %>
<%= f.submit "Join Game!" %>
<% end %>
<% if @game.group_size %>
  <%= link_to "Start Game", new_game_round_path(@game), method: "get" %>
<% end %>
<div class="delete-button">
  <%=button_to "Delete", @game, method: "delete", data: { confirm: "Are you sure?" }%>
</div>
