<!DOCTYPE html>
<html>
  <head>
    <title>ApplesToHumanity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Games Index (Join A Game!)", games_path  %>
    <%= link_to "Create New Game!", new_game_path%>
    <%= link_to "View All Cards!", cards_path %>
    <% if logged_in? %>
    <%= button_to "Log Out", logout_path %>
    <% else %>
    <%= button_to "Log In", login_path %>
    <% end %>
    <br>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
