<!DOCTYPE html>
<html>
  <head>
    <title>ApplesToHumanity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <br>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Rozha+One" rel="stylesheet">
    <title>Semantic UI CDN</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

  </head>
  <body>

    <header>
      <div class="top ui huge header">
        <div class="image-logo">
          <!-- <img src="../img/noun_65206_cc.svg" alt="hmmm"> -->
          <%= image_tag "noun_65206_cc.svg" %>
        </div>
        <a href="<%= games_path %>" class="title"><h1>APPLES TO HUMANITY or whatever</h1></a>
        <div class="image-logo">
          <!-- <img src="../img/noun_90153_cc.svg" alt="hmmm"> -->
          <%= image_tag "noun_90153_cc.svg" %>

        </div>
      </div>
      <div class="header_links">
        <%= link_to "Games Index (Join A Game!)", games_path  %>  |
        <%= link_to "Create New Game!", new_game_path%>  |
        <%= link_to "View All Cards!", cards_path %>  |
        <% if logged_in? %>
        You are: <a href="<%= player_path(current_user) %>"><%= current_user.username %></a>
        <div class="logout-button"><%= button_to "Log Out", logout_path %></div>
        <% end %>
      </div>

    </header>


    <%= yield %>
  </body>
</html>
